header{
background-color: black;

}
h1{
    color:red;
}
body{
background-color: black;

}
h2{
color: aliceblue;
}
p{
color: aliceblue;
width: 500px;
font-size: 18px;

}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3{
color: aliceblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 28px;
padding-left: 30px;
}
.carrossel-de-filmes{
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;

}
.filmes{
    display: flex;
gap: 20px;
overflow-x: auto;
}
.filmes img{

    width: 600px;
}
.filmes img:hover{
border: 3px solid red;
    width: 600px;
}